## Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. Youhave to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10jobs data.
**This task will be done in following steps:**
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter thelocation” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

#### Import Required Libraries

In [5]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\pawan kumar\anaconda3\lib\site-packages (4.8.3)
Requirement already satisfied: trio~=0.17 in c:\users\pawan kumar\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\pawan kumar\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\pawan kumar\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\pawan kumar\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: outcome in c:\users\pawan kumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\pawan kumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\pawan kumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sortedcontainers in c:\users\pawan kumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\pawan kumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\pawan kumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\pawan kumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\pawan kumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: pycparser in c:\users\pawan kumar\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\pawan kumar\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\pawan kumar\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\pawan kumar\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [6]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [7]:
# connect to the driver

driver = webdriver.Chrome(r"chromedriver.exe")

In [9]:
url = "https://www.naukri.com"
driver.get(url)

TimeoutException: Message: timeout: Timed out receiving message from renderer: 201.120
  (Session info: chrome=112.0.5615.138)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x0105DCE3+50899]
	(No symbol) [0x00FEE111]
	(No symbol) [0x00EF5588]
	(No symbol) [0x00EE83BF]
	(No symbol) [0x00EE820C]
	(No symbol) [0x00EE6F06]
	(No symbol) [0x00EE778A]
	(No symbol) [0x00EF06F5]
	(No symbol) [0x00EFAB28]
	(No symbol) [0x00EFD4D6]
	(No symbol) [0x00EE7AE3]
	(No symbol) [0x00EFA9F1]
	(No symbol) [0x00F4E219]
	(No symbol) [0x00F3B6F6]
	(No symbol) [0x00F17708]
	(No symbol) [0x00F1886D]
	GetHandleVerifier [0x012C3EAE+2566302]
	GetHandleVerifier [0x012F92B1+2784417]
	GetHandleVerifier [0x012F327C+2759788]
	GetHandleVerifier [0x010F5740+672048]
	(No symbol) [0x00FF8872]
	(No symbol) [0x00FF41C8]
	(No symbol) [0x00FF42AB]
	(No symbol) [0x00FE71B7]
	BaseThreadInitThunk [0x76F00099+25]
	RtlGetAppContainerNamedObjectPath [0x77467B6E+286]
	RtlGetAppContainerNamedObjectPath [0x77467B3E+238]

In [5]:
# finding element for job search bar
designation = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input")
designation.send_keys('Data Analyst')

In [6]:
# finding element for loc search bar
loctation = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
loctation.send_keys('Bangalore')

In [7]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[6]")
search.click()

In [8]:
job_title = []
job_location = []
Company_name = []
experience_required = []

In [9]:
# extract  the job title  from the tags
title_tags=driver.find_elements(By.XPATH,"//a[@class='title ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    
    
    
# extract  the job location  from the tags
location_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft locWdth']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
    
    
# extract  the Company name  from the tags
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    Company_name.append(company)
    
    
    
    
    
# extract  the job experience  from the tags
experience_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft expwdth']")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [10]:
print(len(job_title),len(job_location),len(Company_name),len(experience_required))

10 10 10 10

## Creating a DataFarme for the Data Analyst jobs

In [11]:

df=pd.DataFrame({})
df['Title']=job_title[0:10]
df['Company']=Company_name[0:10]
df['Experience_required']=experience_required[0:10]
df['Location']=job_location[0:10]

df

,Title,Company,Experience_required,Location
0,Data Analyst,Globals Ites,2-3 Yrs,Bangalore/Bengaluru
1,Data Analyst,Varite,4-5 Yrs,Bangalore/Bengaluru
2,Data Analyst,Cynosure Corporate Solutions,2-7 Yrs,Bangalore/Bengaluru
3,Oracle Tax & Treasury PMO Contractor (Data Ana...,Oracle,3-7 Yrs,Bangalore/Bengaluru
4,Data Analyst,Tata Technologies,4-6 Yrs,Bangalore/Bengaluru
5,Data Analyst,Mm Staffing & Career Consultants,0-8 Yrs,Bangalore/Bengaluru
6,Data Analyst,Ingersoll Rand,3-6 Yrs,Bangalore/Bengaluru
7,Data Analyst,Unusual Hire,1-4 Yrs,Bangalore/Bengaluru
8,Data Analyst - Contractual,Search Advisers Services Guj,2-3 Yrs,Bangalore/Bengaluru
9,Data Analyst - Contractual,Search Advisers Services Guj,2-3 Yrs,Bangalore/Bengaluru

In [12]:
driver.close()

## Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
**This task will be done in following steps:**
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.

In [13]:
from selenium.common.exceptions import NoSuchElementException

In [14]:

# let's first connect to the web driver
driver = webdriver.Chrome(r"chromedriver.exe")

In [15]:
url = "https://www.naukri.com"
driver.get(url)

In [16]:
# finding element for job search bar
designation = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input")
designation.send_keys('Data  Scientist')

In [17]:
# finding element for loc search bar
loctation = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
loctation.send_keys('Bangalore')

In [18]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[6]")
search.click()

In [19]:
job_title = []
job_location = []
Company_name = []
experience_required = []

In [22]:
# extract  the job title  from the tags
title_tags=driver.find_elements(By.XPATH,"//a[@class='title ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    
    
    
# extract  the job location  from the tags
location_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft locWdth']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
    
    
# extract  the Company name  from the tags
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    Company_name.append(company)
    
    
    
    
    
# extract  the job experience  from the tags
experience_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft expwdth']")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [23]:
print(len(job_title),len(job_location),len(Company_name),len(experience_required))

10 10 10 10

## Creating a DataFarme for the Data Analyst jobs

In [24]:
df=pd.DataFrame({})
df['Data Scientist']=job_title[0:10]
df['Company']=Company_name[0:10]
df['Experience_required']=experience_required[0:10]
df['Location']=job_location[0:10]

df

,Data Scientist,Company,Experience_required,Location
0,Data Science Professional - IBM SPSS Statistic...,Hexaware Technologies,5-8 Yrs,"Bangalore/Bengaluru, Noida, Mumbai, Pune, Chennai"
1,Data Science Specialist,Accenture,2-4 Yrs,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
2,Analystics & Modeling Specialist,Accenture,6-8 Yrs,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
3,Senior data scientist,Fractal Analytics,4-8 Yrs,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu..."
4,Data Scientist_NLP,Fractal Analytics,5-11 Yrs,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu..."
5,Data Scientist,Fractal Analytics,3-7 Yrs,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu..."
6,Machine Learning (AI) Architect,Persistent,5-12 Yrs,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh..."
7,Manager - Innovations Hub - Machine Learning,PwC,7-9 Yrs,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde..."
8,Senior Engineer Consultant Data Science,Verizon,4-9 Yrs,Bangalore/Bengaluru
9,Senior Engineer Consultant-Data Science,Verizon,4-9 Yrs,Bangalore/Bengaluru

In [25]:
driver.close()

## Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
**You have to use the location and salary filter.**

**You have to scrape data for “Data Scientist” designation for first 10 job results.**

**You have to scrape the job-title, job-location, company name, experience required.**


**The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhsThe task will be done as shown in the below steps:**

1. first get thewebpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the searchbutton.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results youget.
6. Finally create a dataframe of the scraped data.

In [26]:
# connect to the driver

driver = webdriver.Chrome(r"chromedriver.exe")

In [27]:
url = "https://www.naukri.com"
driver.get(url)

In [28]:
# finding element for job search bar
designation = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input")
designation.send_keys('Data  Scientist')

In [29]:
# finding element for loc search bar
loctation = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
loctation.send_keys('Delhi/NCR')

In [30]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[6]")
search.click()

In [31]:
job_title = []
job_location = []
Company_name = []
experience_required = []
Salary_required =[]

In [32]:
# extract  the job title  from the tags
title_tags=driver.find_elements(By.XPATH,"//a[@class='title ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    
    
    
# extract  the job location  from the tags
location_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft locWdth']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
    
    
# extract  the Company name  from the tags
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    Company_name.append(company)
    
    
    
    
    
# extract  the job experience  from the tags
experience_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft expwdth']")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)
       
        
        
# extract  the salary   from the tags
salary_tags=driver.find_elements(By.XPATH,"//div[@class='filterOptns']")
for i in salary_tags[0:10]:
    sal=i.text
    Salary_required.append(sal)

In [33]:
print(len(job_title),len(job_location),len(Company_name),len(experience_required),len(Salary_required))

10 10 10 10 10

## Creating a DataFarme for the Data Analyst jobs

In [34]:
df=pd.DataFrame({})
df['Data Scientist']=job_title[0:10]
df['Company']=Company_name[0:10]
df['Experience_required']=experience_required[0:10]
df['Location']=job_location[0:10]
df['Salary']=Salary_required[0:10]


df

,Data Scientist,Company,Experience_required,Location,Salary
0,Data Science Professional - IBM SPSS Statistic...,Hexaware Technologies,5-8 Yrs,"Noida, Mumbai, Pune, Chennai, Bangalore/Bengaluru",Data Scientist\n(245)\nBack End Developer\n(72...
1,Senior data scientist,Fractal Analytics,4-8 Yrs,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",Work from office\n(229)\nHybrid\n(10)\nTemp. W...
2,Data Scientist_NLP,Fractal Analytics,5-11 Yrs,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",Any\n0 Yrs\nAny
3,Data Scientist,Fractal Analytics,3-7 Yrs,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",Data Science & Analytics\n(245)
4,Machine Learning (AI) Architect,Persistent,5-12 Yrs,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",0-3 Lakhs\n(6)\n3-6 Lakhs\n(33)\n6-10 Lakhs\n(...
5,Data Science,Skillety,7-10 Yrs,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Foreign MNC\n(40)\nCorporate\n(13)\nIndian MNC...
6,Data Scientist,Clarifai,3-7 Yrs,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Data Science & Machine Learning\n(245)
7,Data Scientist,Cognizant,6-10 Yrs,"Temp. WFH - Kochi/Cochin, Kolkata, Hyderabad/S...",Any Postgraduate\n(146)\nM.Tech\n(27)\nAny Gra...
8,Data Scientist,Tech Mahindra,5-10 Yrs,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",Company Jobs\n(165)\nConsultant Jobs\n(80)
9,Data Scientist,Fortuna Entertainment Group,5-8 Yrs,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",IT Services & Consulting\n(109)\nRecruitment /...

In [35]:
driver.close()

## Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
**1. Brand**

**2. ProductDescription**

**3. Price**

**The attributes which you have to scrape is ticked marked in the below image.**

**To scrape the data you have to go through following steps:**
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data asusual
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , thenclick on it.
5. Now scrape data from this page asusual
6. Repeat this until you get data for 100sunglasses.

In [36]:
# connect to the driver

driver = webdriver.Chrome(r"chromedriver.exe")

In [37]:
url = "https://www.flipkart.com/"
driver.get(url)

In [38]:
products = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
products.send_keys("sunglasses")

In [39]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [40]:
Brand = []
ProductDescription = []
Price = []

In [41]:
brand_tags=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
for i in brand_tags[0:100]:
    brand=i.text
    brand_tags.append(brand)
    
    
    
Product_tags=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
for i in Product_tags[0:100]:
    Product=i.text
    Product_tags.append(Product)
    
Price_tags=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
for i in Price_tags[0:100]:
    Price=i.text
    Price_tags.append(Price)

In [42]:
df=pd.DataFrame({})
df['Brand']=brand_tags[40:100]
df['ProductDescription']=Product_tags[40:100] 
df['Price']=Price_tags[40:100]
df

,Brand,ProductDescription,Price
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Retro Squ...","₹1,061"
1,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)",₹929
2,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹149
3,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹268
4,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹185
5,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹644
6,PIRASO,UV Protection Clubmaster Sunglasses (54),₹224
7,VINCENT CHASE,by Lenskart UV Protection Round Sunglasses (58),₹929
8,Elligator,"UV Protection, Mirrored Wayfarer Sunglasses (54)",₹179
9,SRPM,UV Protection Wayfarer Sunglasses (50),₹169
10,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹265
11,Eyewearlabs,"Polarized, UV Protection Aviator Sunglasses (56)","₹1,489"
12,PIRASO,UV Protection Aviator Sunglasses (58),₹274
13,Fastrack,UV Protection Aviator Sunglasses (58),₹909
14,NuVew,UV Protection Sports Sunglasses (65),₹129
15,VINCENT CHASE,UV Protection Wayfarer Sunglasses (62),₹899
16,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹509
17,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹544
18,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹585
19,ROYAL SON,Polarized Clubmaster Sunglasses (52),₹854
20,Elligator,UV Protection Round Sunglasses (53),₹149
21,NuVew,"UV Protection, Mirrored Wayfarer Sunglasses (57)",₹99
22,PIRASO,UV Protection Wayfarer Sunglasses (56),₹211
23,AISLIN,"Toughened Glass Lens, UV Protection Aviator Su...",₹786
24,Elligator,UV Protection Round Sunglasses (53),₹149
25,PIRASO,UV Protection Rectangular Sunglasses (52),₹182
26,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹739
27,AISLIN,"UV Protection, Gradient Cat-eye Sunglasses (61)",₹485
28,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹739
29,PIRASO,UV Protection Wayfarer Sunglasses (56),₹214
30,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹293
31,Eyewearlabs,"Polarized, UV Protection Rectangular Sunglasse...","₹1,470"
32,PIRASO,UV Protection Aviator Sunglasses (54),₹212
33,PIRASO,UV Protection Over-sized Sunglasses (60),₹173
34,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹129
35,Velocity Eyewear,UV Protection Sports Sunglasses (25),"₹1,126"
36,NuVew,"UV Protection, Mirrored Aviator Sunglasses (57)",₹129
37,Elligator,UV Protection Wayfarer Sunglasses (53),₹179
38,Sewell,"Mirrored, Night Vision, UV Protection, Riding ...",₹280
39,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",₹899

In [43]:
driver.close()

## Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market 
place=FLIPKAR
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [44]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [45]:
url = "https://www.flipkart.com"
driver.get(url)

In [46]:
products = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
products.send_keys("apple-iphone-11-black-64-gb")

In [47]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [48]:
Product = []
Rating = []
Review_summary =[]
Full_review = []

In [49]:
product_tags=driver.find_elements(By.XPATH,"//div[@class='_4rR01T']")
for i in product_tags[0:100]:
    produt=i.text
    product_tags.append(Product)
    
    
    
    
    
    
    
rating_tags=driver.find_elements(By.XPATH,"//span[@id='productRating_LSTMOBFWQ6BXGJCEYNYZXSHRJ_MOBFWQ6BXGJCEYNY_']")
for i in rating_tags[0:100]:
    rating=i.text
    rating_tags.append(rating)
    
    
    
    
review_tags=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK']")
for i in review_tags[0:100]:
    review=i.text
    review_tags.append(review)
    
    
    
    
full_review_tags=driver.find_elements(By.XPATH,"//div[@class='_3pLy-c row']")
for i in full_review_tags[0:100]:
    full_review=i.text
    full_review_tags.append(full_review)

In [50]:
df=pd.DataFrame({})
df['review']=review_tags[0:100] 
df['Full_review']=full_review_tags[0:100]

df

,review,Full_review
0,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
1,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
2,4.6,"APPLE iPhone 11 (Black, 64 GB)\n4.61,89,523 Ra..."
3,4.6,"APPLE iPhone 11 (Black, 128 GB)\n4.61,89,523 R..."

In [51]:
driver.close()

## Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price

In [52]:
# connect to the driver

driver = webdriver.Chrome(r"chromedriver.exe")

In [53]:
url = "https://www.flipkart.com/"
driver.get(url)

In [54]:
products = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
products.send_keys("sneakers”")

In [55]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [56]:
product_tags=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
for i in product_tags[0:100]:
    produt=i.text
    product_tags.append(Product)
    
    
    
    
    
    
    
rating_tags=driver.find_elements(By.XPATH,"//div[@id='_30jeq3']")
for i in rating_tags[0:100]:
    rating=i.text
    rating_tags.append(rating)
    
    
    
    
review_tags=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
for i in review_tags[0:100]:
    review=i.text
    review_tags.append(review)

In [57]:
Product = []
price = []
Review =[]

In [58]:
df=pd.DataFrame({}) 
df['Product']=product_tags[40:100]
df['price']=Price_tags[40:100]
df['Reivew']=review_tags[40:100]
df

   Product   price   Reivew
0       []  ₹1,061  71% off
1       []    ₹929  85% off
2       []    ₹149  58% off
3       []    ₹268  80% off
4       []    ₹185  69% off
5       []    ₹644  65% off
6       []    ₹224  60% off
7       []    ₹929  76% off
8       []    ₹179  50% off
9       []    ₹169  82% off
10      []    ₹265  80% off
11      []  ₹1,489  80% off
12      []    ₹274  78% off
13      []    ₹909  64% off
14      []    ₹129  66% off
15      []    ₹899  57% off
16      []    ₹509  42% off
17      []    ₹544  42% off
18      []    ₹585  86% off
19      []    ₹854  60% off
20      []    ₹149  50% off
21      []     ₹99  42% off
22      []    ₹211  70% off
23      []    ₹786  70% off
24      []    ₹149  75% off
25      []    ₹182  78% off
26      []    ₹739  60% off
27      []    ₹485  40% off
28      []    ₹739  50% off
29      []    ₹214  73% off
30      []    ₹293  49% off
31      []  ₹1,470  50% off
32      []    ₹212  75% off
33      []    ₹173  50% off
34      []    ₹129  30% off
35      []  ₹1,126  62% off
36      []    ₹129  50% off
37      []    ₹179  50% off
38      []    ₹280  78% off
39      []    ₹899  61% off

In [59]:
driver.close()

## Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7”After setting the filters scrape first 10 laptops data. 
You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [60]:
# connect to the driver

driver = webdriver.Chrome(r"chromedriver.exe")

In [61]:
url = "https://www.amazon.in"
driver.get(url)

In [62]:
# finding element for  search bar
search = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search.send_keys('laptop')

In [63]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [64]:
title_tags=driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in title_tags[0:100]:
    title=i.text
    title_tags.append(title)
    
    
    
    
    
    
    
rating_tags=driver.find_elements(By.XPATH,"//span[@class='a-size-base']")
for i in rating_tags[0:100]:
    rating=i.text
    rating_tags.append(rating)
    
    
    
    
price_tags=driver.find_elements(By.XPATH,"//div[@class='a-row a-size-base a-color-base']")
for i in price_tags[0:100]:
    price=i.text
    price_tags.append(price)

In [65]:
Title=[]
Rating=[]
Price=[]

In [66]:
df=pd.DataFrame({})
df['Title']=title_tags[22:44]
df['Rating']=rating_tags[22:44]
df['Price']=price_tags[22:44]

df

,Title,Rating,Price
0,"Dell Vostro 3420 Laptop,12th Gen Intel Core i3...",4.2,<selenium.webdriver.remote.webelement.WebEleme...
1,"Fujitsu CH Intel Evo Core i5 11th Gen 13.3"" FH...",3.9,<selenium.webdriver.remote.webelement.WebEleme...
2,"Dell Inspiron 3520 Laptop,12th Gen Intel Core ...",3.6,"₹41,990 M.R.P:\n₹61,817 (32% off)"
3,HP 255 G8 Laptop with AMD Athlon Silver 3050U ...,3.5,"₹54,990 M.R.P:\n₹1,00,590 (45% off)"
4,Acer Extensa 15 Lightweight Laptop Intel Core ...,3.9,"₹56,990 M.R.P:\n₹80,473 (29% off)"
5,"Honor MagicBook 14, AMD Ryzen 5 5500U 14-inch ...",4.1,"₹25,999 M.R.P:\n₹99,999 (74% off)"
6,"HP 15s, 11th Gen Intel Core i3 8GB RAM/1TB HDD...",4.4,"₹42,999 M.R.P:\n₹57,999 (26% off)"
7,"ASUS Vivobook 14, Intel Core i3-1115G4 11th Ge...",3.4,"₹36,158 M.R.P:\n₹59,890 (40% off)"
8,HP 245 G8 3S7L2PA Notebook Business Laptop 14 ...,4.1,"₹40,990 M.R.P:\n₹75,999 (46% off)"
9,"ASUS TUF Gaming A15, 15.6""(39.62 cms) FHD 144H...",3.2,"₹38,490 M.R.P:\n₹51,470 (25% off)"
10,"ASUS Vivobook 15, Intel Core i3-1220P 12th Gen...",4.3,"₹35,990 M.R.P:\n₹55,990 (36% off)"
11,Acer Aspire 3 AMD 3020e Dual core Processor (4...,4.6,"₹23,990 M.R.P:\n₹41,580 (42% off)"
12,"HP 14s, Intel Celeron N4500, 8GB RAM/256GB SSD...",3.1,"₹49,990 M.R.P:\n₹71,990 (31% off)"
13,Lenovo IdeaPad Slim 3 Intel Core i3-1115G4 11t...,3.7,"₹40,990 M.R.P:\n₹60,990 (33% off)"
14,"HP 15s, AMD Ryzen 3 5300U, 15.6 inch(39.6cm) F...",4.0,"₹25,999 M.R.P:\n₹34,999 (26% off)"
15,HP 15s AMD Ryzen 3-5300U 15.6inch(39.6cm) FHD ...,4.1,"₹25,990 M.R.P:\n₹36,965 (30% off)"
16,"Dell Vostro 3420 Laptop,12th Gen Intel Core i3...",4.1,"₹33,490 M.R.P:\n₹60,890 (45% off)"
17,"ASUS ROG Zephyrus M16 (2023), Intel Core i9 13...",4.2,"₹39,990 M.R.P:\n₹50,565 (21% off)"
18,Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 1...,3.9,"₹37,990 M.R.P:\n₹47,142 (19% off)"
19,"Lenovo V15 Intel Celeron N4020 15.6"" (39.62 cm...",3.2,"₹41,990 M.R.P:\n₹61,817 (32% off)"
20,"ASUS VivoBook 14, Intel Core i3-1115G4 11th Ge...",4.1,"₹3,64,990 M.R.P:\n₹4,31,990 (16% off)"
21,"MSI Summit E16 Flip, Intel 13th Gen. i7-1360P,...",4.3,"₹40,018 M.R.P:\n₹61,390 (35% off)"

In [67]:
driver.close()

## Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuote

In [68]:
# connect to the driver

driver = webdriver.Chrome(r"chromedriver.exe")

In [69]:
url = "https://www.azquotes.com/"
driver.get(url)

In [70]:
# finding element for  search bar
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[2]/div[1]/a")
search.send_keys('TopQuote')

In [74]:
Quote_tags=driver.find_elements(By.XPATH,"//a[@class='title']")
for i in Quote_tags[0:1000]:
    Quote=i.text
    Quote_tags.append(Quote)
    
    
    
    
    
    
    
Author_tags=driver.find_elements(By.XPATH,"//div[@class='author']")
for i in  Author_tags[0:1000]:
    Author=i.text
    Author_tags.append( Author)
    
    
    
    
Type_Of_Quotes_tags=driver.find_elements(By.XPATH,"//div[@class='tags']")
for i in Type_Of_Quotes_tags[0:1000]:
    Type_Of_Quotes=i.text
    Type_Of_Quotes_tags.append(Type_Of_Quotes)

In [75]:
Quote=[]
Author=[]
Type_Of_Quotes=[]

In [76]:
df=pd.DataFrame({})
df['Quote']=Quote_tags
df['Author']=Author_tags
df['Type_Of_Quotes']=Type_Of_Quotes_tags

df

,Quote,Author,Type_Of_Quotes
0,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
1,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
2,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
3,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
4,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
...,...,...,...
195,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
196,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
197,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
198,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
199,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [77]:
driver.close()

## Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [3]:
 # connect to the driver

driver = webdriver.Chrome(r"chromedriver.exe")

In [4]:
url = "https://www.jagranjosh.com/"
driver.get(url)

In [5]:
# finding element for  search bar
search = driver.find_element(By.XPATH,"/html/body/div/div[2]/div/div[1]/div/div[1]/div/section[1]/div[1]/div[1]/div[2]/input[1]")
search.send_keys('GK')

In [7]:
search = driver.find_element(By.XPATH,"/html/body/div/div[2]/div/div[1]/div/div[1]/div/section[1]/div[1]/div[1]/div[2]/input[2]")
search.send_keys(' List of all Prime Ministers of India')

In [8]:
search = driver.find_element(By.XPATH,"/html/body/div/div[2]/div/div[1]/div/div[1]/div/section[1]/div[1]/div[1]/div[2]/input[2]")
search.send_keys()

In [10]:
Name =[]
Born_Dead =[]
Term_of_office =[]
Remarks =[]

In [32]:
name_tags=driver.find_elements(By.XPATH,"//a[@target='_blank']")
for i in name_tags[0:]:
    name=i.text
    name_tags.append(name)

In [24]:
Born_Dead_tags=driver.find_elements(By.XPATH,"//td[@valign='top']")
for i in Born_Dead_tags[0:-1]:
    Born_Dead=i.text
    Born_Dead_tags.append(Born_Dead)
    
    
Term_of_office_tags=driver.find_elements(By.XPATH,"//td[@valign='top']")
for i in Term_of_office_tags[0:-1]:
    Term_of_office=i.text
    Term_of_office_tags.append(Term_of_office)
    
    
    
    
    

Remarks_tags=driver.find_elements(By.XPATH,"//td[@valign='top']")
for i in Remarks_tags[0:-1]:
    Remarks=i.text
    Remarks_tags.append(Remarks)

In [33]:
df=pd.DataFrame({})
df['PM name']=name_tags

df

                                               PM name
0    <selenium.webdriver.remote.webelement.WebEleme...
1    <selenium.webdriver.remote.webelement.WebEleme...
2    <selenium.webdriver.remote.webelement.WebEleme...
3    <selenium.webdriver.remote.webelement.WebEleme...
4    <selenium.webdriver.remote.webelement.WebEleme...
..                                                 ...
193
194
195
196
197

[198 rows x 1 columns]

In [28]:
df=pd.DataFrame({})
df['Born_Dead']=Born_Dead_tags
df['Term_of_office']=Term_of_office_tags
df['Remarks']=Remarks_tags
df

,Born_Dead,Term_of_office,Remarks
0,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
1,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
2,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
3,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
4,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
...,...,...,...
164,First Sikh PM,First Sikh PM,First Sikh PM
165,18.,18.,18.
166,Narendra Modi,Narendra Modi,Narendra Modi
167,(born 1950),(born 1950),(born 1950)
168,26 May 2014 - Present,26 May 2014 - Present,26 May 2014 - Present

## Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpagehttps://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on leftside.
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe

In [ ]:
# connect to the driver

driver = webdriver.Chrome(r"chromedriver.exe")

In [35]:
url = 'https://www.motor1.com/'
driver.get(url)

In [36]:
# finding element for job search bar
search = driver.find_element(By.XPATH,"/html/body/div[3]/div[2]/div/div/div[3]/div/div/button")
search.send_keys('50 Most expensive cars')

In [38]:
search = driver.find_element(By.XPATH,"/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/button[1]")
search.send_keys()

In [44]:
name_tags=driver.find_elements(By.XPATH,"//h3[@class='subheader']")
for i in name_tags[0:]:
    name=i.text
    name_tags.append(name)
    
    
    
    
    
price_tags=driver.find_elements(By.XPATH,"/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[28]")
for i in price_tags[0:]:
    price=i.text
    price_tags.append(price)

In [46]:
df=pd.DataFrame({})
df['Car_name']=name_tags

df

                                              Car_name
0    <selenium.webdriver.remote.webelement.WebEleme...
1    <selenium.webdriver.remote.webelement.WebEleme...
2    <selenium.webdriver.remote.webelement.WebEleme...
3    <selenium.webdriver.remote.webelement.WebEleme...
4    <selenium.webdriver.remote.webelement.WebEleme...
..                                                 ...
97                             Bugatti Chiron Profilée
98                                Rolls-Royce Sweptail
99                            Bugatti La Voiture Noire
100                             Rolls-Royce Boat Tail*
101                   Most Expensive Cars In The World

[102 rows x 1 columns]